/* fuentes personalizadas*/
  @font-face {
    font-family: "font_Regular";
    src: url("../fonts/Sans Regular.ttf");
  }
  @font-face {
    font-family: "font_Bolt";
    src: url("../fonts/Sans Bolt.ttf");
  }
  @font-face {
    font-family: "font_Italic";
    src: url("../fonts/Sans Italic.ttf");
  }
/*-----------------------------------------*/
* {
	margin: auto;
	padding: 0;
 }

body {
  background-color: #050523;
}
#barra {
  width: 500px;
  height: 150px;
  margin-top: 100px;
  margin-bottom: 130px;
  background-color: ;
}
.logo_aj {
  position: relative;
  align-items: center;
  margin: auto;
  padding: 0;
}
.logo_aj img {
  width: auto;
  height: 150px;
  margin: auto;
  padding: auto;
}


h1 {
  font-family: "font_Regular";
  font-size: 3.2rem;
  color: #ffffff;
  position: absolute;
  margin-top: 5.5%;
  margin-left: 230px;
}

h2 {
  font-family: "font_Regular";
  font-size: 2.2rem;
  color: #ffffff;
  margin-top: 15%;
  position: absolute;
  margin-left: 135px;
}
#botones {
  width: 100%;
  height: 800px;
  background-color: ;
}

.behance, .instagram, .whatsapp {
  width: 750px;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #9D1FFE;
  position: relative;
  border-radius: 150px;
}

  .behance:hover, .instagram:hover, .whatsapp:hover, .facebook:hover, .web:hover {
    background-color: #590e94;
    ransition-property: opacity;
    transition-duration: 0.5s;
   }


.img_behance img , .img_instagram img , .img_whatsapp img  {
  width: 90px;
  height: auto;
  margin-left: 15%;
  margin-top: 4%;
  float: left;
}

.img_facebook img , .img_web img {
  width: 90px;
  height: auto;
  margin-left: 8%;
  margin-top: 8%;
  float: left;
}
.img_web img {
  margin-top: 5%;
}
 .facebook_web {
   width: 750px;
   height: auto;
   background-color: ;
 }
  .facebook, .web {
    width: 345px;
    height: 150px;
    position: relative;
    float: left;
    background-color: #9D1FFE;
    border-radius: 150px;
  }
  .facebook {
    margin-right: 50px;
  }
