/* fuentes personalizadas*/
  @font-face {
    font-family: "font_Regular";
    src: url("../fonts/Sans Regular.ttf");
  }
  @font-face {
    font-family: "font_Bolt";
    src: url("../fonts/Sans Bolt.ttf");
  }
  @font-face {
    font-family: "font_Italic";
    src: url("../fonts/Sans Italic.ttf");
  }
/*-----------------------------------------*/
* {
	margin: auto;
	padding: 0;
 }

body {
  background-color: #050523;
}
#barra {
  width: 300px;
  height: 90px;
  margin-top: 100px;
  margin-bottom: 130px;
  background-color: #8b2d18;
}
.logo_aj {
  position: relative;
  align-items: center;
  margin: auto;
  padding: 0;
}
.logo_aj img {
  width: auto;
  height: 90px;
  margin: auto;
  padding: auto;
}


h1 {
  font-family: "font_Regular";
  font-size: 2,5rem;
  color: #fbfdff;
  position: absolute;
  margin-top: 6%;
  margin-left: 130px;
}

h2 {
  font-family: "font_Regular";
  font-size: 1,2rem;
  color: #ffffff;
  margin-top: 13%;
  position: absolute;
  margin-left: 100px;
}
#botones {
  width: 100%;
  height: 800px;
  background-color: #392c58;
}

.behance, .instagram, .whatsapp {
  width: 450px;
  height: 120px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #9D1FFE;
  border-radius: 60px;
}
.img_behance img , .img_instagram img , .img_whatsapp img  {
  width: 70px;
  height: auto;
  margin-left: 8%;
  margin-top: 6%;
  float: left;
}
.img_facebook img , .img_web img {
  width: 70px;
  height: auto;
  margin-left: 8%;
  margin-top: 11%;
  float: left;
}
 .facebook_web {
   width: 450px;
   background-color: #139f98;
 }
  .facebook, .web {
    width: 210px;
    height: 120px;
    position: relative;
    float: left;
    background-color: #53d52c;
    border-radius: 60px;
  }
  .facebook {
    margin-right: 30px;
  }
 .text_behance {

 }
  .text_behance h1 {
    text-align: left;
    align: left;

  }
