@media (min-width: 500px) and (max-width: 1400px){

  /* fuentes personalizadas*/
  @font-face {
    font-family: "font_tex_main";
    src: url("../font/rockwell_regular.ttf");
  }
  @font-face {
      font-family: "font_title_main";
      src: url("../font/rockwell_bold.ttf");
  }
  @font-face {
      font-family: "font_nav";
      src: url("../font/productsansblack.ttf");
  }
  /*-------------------------*/

  * {
    margin: 0;
    padding: 0;
  }

  #navigation_bar {
  	width: 1000px;
    height: 95px;
    top: 80px;
    position: center;
    right: 6%;
    left: 6%;
    margin: 0px auto;
    padding: 0px;
  	}
  #navigation_bar .icon_bar img{
  	position: ;
  	width: auto;
  	height: 70px;
  	margin: 40px 10px 10px 10px;
  	padding: 0;
  	}
  .icon_bar {
  	float: left;
  	width: 100px
  	height: 1000px;
  	}
  .icon_bar .icon_bar{
    display: none;
  }
  .option_bar{
  	position: ;
  	float: right;
  	width: 400px;
  	height: 15px;
  	align-items: center;
  	color: white;
  	background-color: ;
    padding: 35px 0px 0px 0px;
  	margin: 0px 10px 10px 10px;
  }
  .option_bar li {
    list-style: none;
  }
  .option_bar a img {
    display: none;
  }

  .option_bar .contacto a, .proyectos a, .servicios a, .home a{
  	color: #ffffff;
  	text-decoration-line: none;
  	font-family: "font_nav";
  	float: right;
  	align-items: center;
  	font-size: 15px;
  	margin: 40px 9px 9px 9px;
  }

  .option_bar a:hover {
     color: #717171;
   }
  .movile_service_title h1{ display: none;}
  /*-------------------------*/


  body {
    background-color: ;
    margin: 0px;
    padding: 0px;
  }

  /* HEADER-ALEJANDRO AMEZQUITA-DISEÑADOR FREELANCE */
  #header{
      background: url('../img/header/baner_home2.png') center;
      position: relative;
      margin: 0 auto;
      padding: 0 auto;
      background-color: #171717;
      width: 100%;
      height: 635px;
      align-items: center;
      }
  #main_head {
    width: 100%;
    height: 320px;
    position: center;
    right: 6%;
    left: 6%;
    margin: 140px auto;
    padding: 0px auto;
    background-color: ;
    }
  #designer {
    align-items: center;
    width: 900px;
    height: 200px;
    position: center;
    margin: 10px auto;
    padding: 0px auto;
    background-color: ;
    }
  #designer .name_designer a {
    align-content: center;
    font-family: "font_nav";
    text-decoration: none;
    text-decoration-line: none;
    color: #ffffff;
    font-size: 60px;
    margin: 0px 15% 0 15%;
    padding: 0px auto;
  }
  .freelance_designer {
    margin: 20px 0px 0px 0px;
  }
  .freelance_designer a{
    font-family: "font_title_main";
    font-size: 40px;
    text-decoration-line: none;
    color: #ffffff;
    margin: 0 25% 0 25%;
  }
  .job_designer {
    width: 806px;
    height: 50px;
    margin: 100px auto;
    padding: 0px auto;
    background-color: ;
    }
  .job_designer a {
    font-family: "font_tex_main" ;
    font-size: 20px;
    text-decoration-line: none;
    color: #BEBEBE;
    }

  #main_page {
    width: 100%;
    height: auto;
    background-color: ;
  }
  #container_jobs {
    width: 1100px;
    height: 1370px;
    background-color: ;
    margin: 20px auto 20px auto;
    padding: 0 auto;
    background-color: ;
  }
  .brandig, .modeling, .layout {
    float: left;
    width: 250px;
    height: 660px;
    margin: 20px 55px 0 55px;
    padding: 0 auto;
    background-color: ;
  }
  .brandig img, .modeling img, .layout img {
    margin: 0 auto;
    width: 250px;
    height: auto;
  }

  .packaging, .publicity, .nothing {
    float: left;
    width: 250px;
    height: 675px;
    margin: 20px 55px 0 55px;
    padding: 0 auto;
    background-color: ;
  }
  .packaging img, .publicity img, .nothing img  {
    margin: 0 auto;
    width: 250px;
    height: auto;
  }

  .brandig_text, .modeling_text, .layout_text, .packaging_text, .publicity_text{
    background-color: ;
    margin: 0 auto;
    padding: 0 auto;
    width: 240px;
    height: 420px;
  }
  .subtitle_jobs {
    color: #121212;
    font-family: "font_title_main" ;
    font-style: none;
    font-size: 20px;
    padding-top: 15px;
  }
  .text_jobs {
    color: #3e3e3e;
    text-align: left;
    line-height: 1.5;
    font-family: "font_tex_main" ;
    font-style: none;
    font-size: 16px;
  }

  footer {
    width: auto;
    height: 265px;
    background-color: #171717;
    background: url('../img/header/baner_home2.png') center;
   }

  #footer_contents {
    margin: 20px auto 20px auto;
    width: 1100px;
    height: 265px;
  }
    .logo_footer, .map_footer {
      width: 200px;
      height: 250px;
      margin: 0 auto;
      padding: 0 auto;
      background-color: ;
      float: left;
    }

    .text_footer {
      text-align: center;
      width: 600px;
      height: 250px;
      margin: 0 auto 0 60px;
      padding: 0 auto;
      float: left;

    }
    .logo_footer img {
      padding: 20px 40px;
      width: 150px;
      margin: 0 auto;

    }
    .map_footer img {
      height: 260px;
      padding: 0 -50px;
    }
    .text_footer p {
      color: #BEBEBE;
      font-family: "font_tex_main";
      text-decoration: none;
      padding: 80px;
    }

}
/*---PANTALLAS MAYORES A 1400px---*/


@media (min-width: 1400px){
  /* fuentes personalizadas*/
    @font-face {
      font-family: "font_tex_main";
      src: url("../font/rockwell_regular.ttf");
    }
    @font-face {
        font-family: "font_title_main";
        src: url("../font/rockwell_bold.ttf");
    }
    @font-face {
        font-family: "font_nav";
        src: url("../font/productsansblack.ttf");
    }
    /*-------------------------*/

    * {
      margin: 0;
      padding: 0;
    }

    #navigation_bar {
      background-color: ;
    	width: 80%;
      height: 120px;
      top: 80px;
      position: center;
      right: 6%;
      left: 6%;
      margin: 0px auto;
      padding: 0px;
    	}
    #navigation_bar .icon_bar img{
    	position: ;
    	width: auto;
    	height: 70px;
    	margin: 40px 10px 10px 10px;
    	padding: 0;
    	}
    .icon_bar {
    	float: left;
    	width: 100px
    	height: 1000px;
    	}
    .icon_bar .icon_bar{
      display: none;
    }
    .option_bar{
    	position: ;
    	float: right;
    	width: 400px;
    	height: 15px;
    	align-items: center;
    	color: white;
    	background-color: ;
      padding: 35px 0px 0px 0px;
    	margin: 0px 10px 10px 10px;
    }
    .option_bar li {
      list-style: none;
    }
    .option_bar a img {
      display: none;
    }

    .option_bar .contacto a, .proyectos a, .servicios a, .home a{
    	color: #ffffff;
    	text-decoration-line: none;
    	font-family: "font_nav";
    	float: right;
    	align-items: center;
    	font-size: 15px;
    	margin: 40px 9px 9px 9px;
    }

    .option_bar a:hover {
       color: #717171;
     }
    .movile_service_title h1{ display: none;}
    /*-------------------------*/
    body {
      background-color: ;
      margin: 0px;
      padding: 0px;
    }

    /* HEADER-ALEJANDRO AMEZQUITA-DISEÑADOR FREELANCE */
    #header{
        background: url('../img/header/baner_home2.png') ;
        background-position-x: center;
        position: relative;
        margin: 0 auto;
        padding: 0 auto;
        width: 100%;
        height: 950px;
        align-items: center;
        }
    #main_head {
      width: 100%;
      height: 320px;
      position: center;
      right: 6%;
      left: 6%;
      margin: 140px auto;
      padding: 0px auto;
      background-color: ;
      }
    #designer {
      align-items: center;
      width: 900px;
      height: 200px;
      position: center;
      margin-top: 300px;
      margin-right: auto;
      margin-left: auto;
      padding: 0px auto;
      background-color: ;
      }
    #designer .name_designer a {
      align-content: center;
      font-family: "font_nav";
      text-decoration: none;
      text-decoration-line: none;
      color: #ffffff;
      font-size: 60px;
      margin: 0px 15% 0 15%;
      padding: 0px auto;
    }
    .freelance_designer {
      margin: 20px 0px 0px 0px;
    }
    .freelance_designer a{
      font-family: "font_title_main";
      font-size: 40px;
      text-decoration-line: none;
      color: #ffffff;
      margin: 0 25% 0 25%;
    }
    .job_designer {
      width: 806px;
      height: 50px;
      margin: 220px auto;
      padding: 0px auto;
      background-color: ;
      }
    .job_designer a {
      font-family: "font_tex_main" ;
      font-size: 20px;
      text-decoration-line: none;
      color: #BEBEBE;
      }

    #main_page {
      width: 100%;
      height: auto;
      background-color: ;
    }
    #container_jobs {
      width: 1100px;
      height: 1370px;
      background-color: ;
      margin: 20px auto 20px auto;
      padding: 0 auto;
      background-color: ;
    }
    .brandig, .modeling, .layout {
      float: left;
      width: 250px;
      height: 660px;
      margin: 20px 55px 0 55px;
      padding: 0 auto;
      background-color: ;
    }
    .brandig img, .modeling img, .layout img {
      margin: 0 auto;
      width: 250px;
      height: auto;
    }

    .packaging, .publicity, .nothing {
      float: left;
      width: 250px;
      height: 675px;
      margin: 20px 55px 0 55px;
      padding: 0 auto;
      background-color: ;
    }
    .packaging img, .publicity img, .nothing img  {
      margin: 0 auto;
      width: 250px;
      height: auto;
    }

    .brandig_text, .modeling_text, .layout_text, .packaging_text, .publicity_text{
      background-color: ;
      margin: 0 auto;
      padding: 0 auto;
      width: 240px;
      height: 420px;
    }
    .subtitle_jobs {
      color: #121212;
      font-family: "font_title_main" ;
      font-style: none;
      font-size: 20px;
      padding-top: 15px;
    }
    .text_jobs {
      color: #3e3e3e;
      text-align: left;
      line-height: 1.5;
      font-family: "font_tex_main" ;
      font-style: none;
      font-size: 16px;
    }

    footer {
      width: auto;
      height: 265px;
      background-color: #171717;
      background: url('../img/header/baner_home2.png') center;
     }

  #footer_contents {
    margin: 20px auto 20px auto;
    width: 1100px;
    height: 265px;
  }
    .logo_footer, .map_footer {
      width: 200px;
      height: 250px;
      margin: 0 auto;
      padding: 0 auto;
      background-color: ;
      float: left;
    }

    .text_footer {
      text-align: center;
      width: 600px;
      height: 250px;
      margin: 0 auto 0 60px;
      padding: 0 auto;
      float: left;

    }
    .logo_footer img {
      padding: 20px 40px;
      width: 150px;
      margin: 0 auto;

    }
    .map_footer img {
      height: 260px;
      padding: 0 -50px;
    }
    .text_footer p {
      color: #BEBEBE;
      font-family: "font_tex_main";
      text-decoration: none;
      padding: 80px;
    }


  }

/*-------------------------------------*/

/* DISPOSITIVOS MOVILES  */

@media (max-width: 500px){

  /* fuentes personalizadas*/
  @font-face {
    font-family: "font_tex_main";
    src: url("../font/rockwell_regular.ttf");
  }
  @font-face {
      font-family: "font_title_main";
      src: url("../font/rockwell_bold.ttf");
  }
  @font-face {
      font-family: "font_nav";
      src: url("../font/productsansblack.ttf");
  }
  /*----------------------------------------*/
 * {
   margin: 0 auto;
   padding: 0 auto;
 }
 body a:hover {
    color: #717171;
 }
 body {
   width: auto;
   height: auto;
 }
 header {
   background: url('../img/header/baner_home2.png') no-repeat;
   position: relative;
   background-position-x: center;
  height: 700px;
	width: 100%;
	}

  #navigation_bar {
    padding: 15px 0 0 0;
    background-color: #161616;
    width: 100%;
    height: 110px;
  }

  .icon_bar .icon_bar2{
    display: none;
   }

 .icon_bar  img{
   margin: 10px 10px 10px 8%;
   height: 70px;
   width: auto;
  }

  .option_bar {
    position: sticky;
    margin: -80px -30% 10px 30%;
    text-align: center;
  }
  .option_bar .home a, .servicios a {
    display: none;
  }
  .option_bar li {
    list-style: none;
  }
  .option_bar a {
    margin: 0 auto;
    color: #fff;
    font-family: "font_nav";
    font-size: 16px;
    text-decoration: none;
  }
  .option_bar .contacto, .servicios {
    margin: 10px;
  }

  #main_head {
    width: 100%;
    height: 225px;
  }
  .name_designer{
    width: 80%;
    height: 140px;
    text-align: center;
    margin: 100px auto;
  }

  .name_designer a{
    color: #fff;
    font-family: "font_nav" ;
    font-size: 45px;
    text-decoration: none;
  }

  .freelance_designer{
    width: 80%;
    height: 35px;
    text-align: center;
    margin: 280px auto;
  }
  .freelance_designer a{
    color: #fff;
    font-family: "font_title_main" ;
    font-size: 25px;
    text-decoration: none;
  }

  .job_designer a{
    display: none;
  }

  #main_page {
    width: 100%;

  }
 .movile_service_title {
   width: 90%;
   height: 40px;
   text-align: center;
   margin: 90px auto;
 }
 .movile_service_title h1{
   color: #000000;
   font-family: "font_title_main";
   font-size: 30px;
   text-decoration: none;
 }
  #container_jobs {
    width: 98%;
    height: auto;
    background-color: ;

  }

 #container_jobs section {
   margin: 15px 15px 15px 15px;
   padding: 5px 5px;
   width: 100%;
   height: auto;
 }
  #container_jobs section img {
    margin: 7px 30px;
    width: 50%;
    height: auto;
  }

  .brandig_text, .layout_text, .publicity_text, .packaging_text, .modeling_text {
    margin: 7px 30px;
    width: 95%;
    height: auto;
  }

  #container_jobs section .subtitle_jobs {
    font-family: "font_title_main";
    font-size: 23px;
    color: #000000;
    padding-bottom: 10px;
  }
  #container_jobs section .text_jobs {
    font-family: "font_tex_main";
    font-size: 17px;
    color: #000000;
  }

  #footer_contents .logo_footer img, .map_footer img  {
    display: none;
  }

  footer {
    width: 100%;
    height: 300px;
    background: url('../img/header/baner_home2.png') no-repeat;
  }
  #footer_contents {
    width: 90%;
    height: 200px;
    margin-top: 200px;

  }
  .text_footer {
    width: 80%;
    height: 200px;
    padding-top: 100px;
  }

  .text_footer p {
    text-align: center;
    font-size: 12px;
    font-family: "font_tex_main";
    text-decoration: none;
    color: #BEBEBE;
  }
}
