/* fuentes personalizadas*/
@font-face {
  font-family: "font_tex_main";
  src: url("../font/rockwell_regular.ttf");
}
@font-face {
    font-family: "font_title_main";
    src: url("../font/rockwell_bold.ttf");
}
@font-face {
    font-family: "font_nav";
    src: url("../font/productsansblack.ttf");
}
/*-------------------------*/
* {
  padding: 0px 0px;
  margin: 0px 0px;
}

header {
  background-color: red;
}

header img {
  width: auto;
  height: 50px;
  padding: 15px;
}

#navigation_bar {
background-color: #171717;
  width: auto;
  height: 80px;
}

#navigation_bar .option_bar {
  background-color: green;
  float: right;
  margin: -50px 20px 0 0;
}

#navigation_bar .option_bar .contacto a{
  font-family: "font_nav";
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-decoration-line: none;
}
.option_bar .proyectos a, .servicios a, .home a {
  display: none;
}
/*----------------------------------------*/

#main_head {
  background-color: green;
  width: 100% ;
  height: 150px;
}
#main_head #designer {
  background-color: grey;
  width: 350px ;
  height: 100px;
  margin: auto;
  text-align: center;
}

.name_designer a {
  color: #fff;
  font-family: "font_nav" ;
  font-size: 32px;
  text-decoration: none;
  text-decoration-line: none;
}
.name_designer, .freelance_designer{
  margin: 10px;
}
.freelance_designer a{
  color: #fff;
  font-family: "font_title_main" ;
  font-size: 27px;
  text-decoration: none;
  text-decoration-line: none;
  line-height: 1.5;
}

.job_designer {
  text-align: center;
  margin: 15px;
}
.job_designer a{
  color: #fff;
  font-family: "font_title_main";
  font-size: 10.5px;
  text-decoration: none;
  text-decoration-line: none;
  line-height: 1.5;
}

/*-----------------------------------------*/

#main_page {
  background-color: grey;
  width: 100%;
  height: 500px;
}
#container_jobs {
  background-color: red;
  padding: 10px;
  margin: auto;
  width: 90%;
  height: 400px;
}

.brandig, .layout, .modeling, .publicity, .packaging{
  background-color: blue;
  float: left;
  width: 45.2%;
  margin: 5px;
  padding: 5px;
}

.brandig img, .layout img, .modeling img, .publicity img, .packaging img {
  width: 195px;
  height: auto;
}
