/* fuentes personalizadas*/
  @font-face {
    font-family: "font_sans";
    src: url("../../font/sans.ttf");
  }
  @font-face {
      font-family: "font_roboto";
      src: url("../../font/roboto.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 1400px) {
	img {
		display: none;
	}
	}





}
