/* fuentes personalizadas*/
  @font-face {
    font-family: "font_sans";
    src: url("../../font/sans.ttf");
  }
  @font-face {
      font-family: "font_roboto";
      src: url("../../font/roboto.ttf");
  }
  @font-face {
      font-family: "font_roboto_bold";
      src: url("../../font/roboto_bold.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 1024px) and (max-width: 1400px) {
* {margin: 0; padding: 0;}
  input, label {
    display: none;
  }

/*---BARRA DE NAVEGACION--*/

  #barra_navegacion {
    width: 100%;
    height: 70px;
    background-color: #190022;
    position: fixed;
    box-shadow: 2px 2px 5px #190022;
  }
  .icon_nav {
    float: left;
    margin-left: 15%;
    width: 150px;
    height: 40px;
    margin-top: 12px;
  }
  .icon_nav img {
    height: 40px;
  }
  .respmenu {
    float: right;
    display: inline-block;
    margin-right: 15%;
  }
  nav ul li .linea {
    margin-top: 5px;
    margin: auto;
    display: block;
    width: 75%;
    height: 15px;
  }
  nav ul li{
    margin-top: 25px;
    margin-right: 30px;
    padding-bottom: 8px;
    display: inline-block;
  }
      nav ul li:hover {
        background: url('../../img/nav/barra_nav.png') no-repeat;
        background-position: bottom;
        background-size: 100% 5px;
        transition: 0.7s;
      }
  nav ul li a {
    color: #fff;
    font-family: "font_sans";
    font-size: 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    transition: color 0.7s;
  }
      nav ul li a:hover {
        transition-duration: 0.7s;
        transition: color 0.7s;
      }
/*---------------MAIN--------------*/
* {
  margin: auto;
  padding: auto;
  transition: 0.3s;
}
/*----------HEAD-MAIN--------*/
  #head_main {
    padding-top: 70px;
    width: 100%;
    height: 1000px;
  }

  #contenedor_head_main {
    width: 100%;
    height: 590px;
    background-color: #190022;
  }

  .text_junior {
    width: 32%;
    height: 240px;
    margin-left: 130px;
    padding-top: 80px;
  }
      .text_junior p{
        color: #FBCE00;
        font-family: "font_sans";
        font-size: 70px;
        line-height: 0.9;
        text-align: left;
      }
  .text_alejandro {
    width: 31%;
    height: 200px;
    margin-left: 130px;
    padding-bottom: 50px;
  }
      .text_alejandro p {
        color: #fff;
        font-family: "font_sans";
        font-size: 65px;
      }
      .text_alejandro a {
        text-decoration: none;
        color: #190022;
        font-family: "font_sans";
        font-size: 65px;
        transition: 0.7s;
      }
        .text_alejandro a:hover, .text_alejandro p:hover {
          color: #FD0C5D;
          transition: color 0.7s;
        }
        .text_alejandro a:hover, .text_alejandro p:hover {
          transition: 0.7s;
        }
      .amarillo {
        width: 160px;
        height: 80px;
        background-color: #FBCE00;
        padding-bottom: 10px;
        margin-top: -80px;
        margin-left: 176px;
      }
  .dino_img {
    float: right;
    margin-top: -60px;
    margin-right: 0px;
    width: 55%;
    height: 700px;
    background: url('../../img/main/head_main/head_main.png') no-repeat;
    background-position: right;
    background-size: 101% 100%;
    transition: background 0.7s;
    transition-duration: 0.7s;
  }
      .dino_img:hover {
        background: url('../../img/main/head_main/head_main2.png') no-repeat;
        background-position: right;
        background-size: 101% 100%;
        transition-duration: 0.7s;
        transition: background 0.7s;
      }
  .diagonal_head_main {
    margin-top: -5px;
    width: 100%;
    height: 200px;
    background: url('../../img/main/head_main/diagonal_head_main2.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

/*----QUIEN-SOY-------*/
  #quien_soy {
    margin-top: -220px;
    width: 100%;
    height: 400px;
    background-color: #FD0C5D;
  }
  #contenedor_quien_soy {
    width: 85%;
    height: 400px;
  }
  .contenedor_textos_quien_soy {
    width: 55%;
    height: 370px;
    float: left;
  }
      .titulo_quien_soy a {
        font-family: "font_sans";
        font-size: 70px;
        text-decoration: none;
        color: #FBCE00;
        transition: 0.5s;
      }

  .texto_quien_soy {
    padding-left: 40px;
    padding-top: 35px;
  }
  .texto_quien_soy p{
    color: #190022;
    font-family: "font_roboto";
    font-size: 22px;
  }
    .subtitulos_quien_soy {
      padding: 30px;
      padding-left: 40px;
    }
      .subtitulos_quien_soy a {
        font-family: "font_sans";
        font-size: 40px;
        text-decoration: none;
        color: #190022;
        transition: 0.5s;
      }

  .contenedor_imagenes_quien_soy {
    width: 43%;
    height: 370px;
    float: right;
    padding-top: 65px;
  }
      .contenedor_imagenes_quien_soy img {
        width: 200px;
        margin: auto;
        display: block;
      }
      .img_icons_quien_soy {
        width: 150px;
        height: 50px;
        margin-top: 30px;
        display: flex;
      }
      .img_icons_quien_soy img {
        width: 35px;
        transition: 0.7s;
      }
    .diagonal_quien_soy {
      margin-top: -5px;
      width: 100%;
      height: 200px;
      background: url('../../img/main/quien_soy/diagonal.png') no-repeat;
      background-position: center;
      background-size: 100% 100%;
    }
/*------------------------------------------*/
/*---------HERRAMIENTAS-DOMINADA--------*/

  #herramientas_dominadas {
    margin-top: 195px;
    width: 100%;
    height: 600PX;
    background-color: #190022;
  }
  #contenedor_herramientas_dominadas {
    width: 85%;
    height: 500px;
  }
  #contenedor_herramientas_dominadas a {
    text-decoration: none;
  }
  .titulo_herramientas_dominadas p{
    font-family: "font_sans";
    font-size: 70px;
    text-decoration: none;
    color: #FBCE00;
    transition: 0.5s;
  }

    .img_herramientas_dominadas {
      margin-top: 30px;
      width: 80%;
      height: 280px;
      display: flex;
    }
      .herramientas_dominada {
        margin-left: 15px;
        margin-right: 15px;
        padding-top: 10px;
        width: 180px;
        height: 245px;
        background: #fff;
        border-radius: 15px;
      }
        .herramientas_dominada p {
          color: #190022;
          font-family: "font_sans";
          font-size: 20px;
          text-decoration: none;
          margin-top: 15px;
          margin-left: 15px;
          transition: 0.8s;
        }

      .img_program_ai, .img_program_id, .img_program_ps, .img_program_html {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 8px solid #190022;
        transition: 0.5s;
      }
      .img_program_ai {
        background: url('../../img/main/herramientas/ai2.png') no-repeat;
        background-position: center;
        background-size: 100%;
      }
            .img_program_ai:hover {
              background: url('../../img/main/herramientas/ai.png') no-repeat;
              background-position: center;
              background-size: 100%;
              background-color: #E5DE16;
              transition: 0.5s;
            }
        .img_program_ps {
          background: url('../../img/main/herramientas/ps2.png') no-repeat;
          background-position: center;
          background-size: 100%;
        }
            .img_program_ps:hover {
              background: url('../../img/main/herramientas/ps.png') no-repeat;
              background-position: center;
              background-size: 100%;
              background-color: #E5DE16;
              transition: 0.5s;
            }
        .img_program_id {
          background: url('../../img/main/herramientas/id2.png') no-repeat;
          background-position: center;
          background-size: 100%;
        }
            .img_program_id:hover {
              background: url('../../img/main/herramientas/id.png') no-repeat;
              background-position: center;
              background-size: 100%;
              background-color: #E5DE16;
              transition: 0.5s;
            }
      .img_program_html {
        background: url('../../img/main/herramientas/html2.png') no-repeat;
        background-position: center;
        background-size: 100%;
        transition: 0.5s;
      }
        .img_program_html:hover {
          background: url('../../img/main/herramientas/html.png') no-repeat;
          background-position: center;
          background-size: 100%;
          background-color: #E5DE16;
          transition: 0.5s;

        }
    .diagonal_herramientas {
      margin-top: -5px;
      width: 100%;
      height: 200px;
      background: url('../../img/main/herramientas/diagonal.png') no-repeat;
      background-position: center;
      background-size: 100% 100%;
    }

/*-----------------------------*/
/*-----LO-QUE-PUEDO-HACER---------*/

  #puedo_hacer {
    margin-top: -5px;
    width: 100%;
    height: 1000px;
    background-color: #fff;
  }
  #contenedor_puedo_hacer {
    width: 85%;
    height: auto;
  }
  .titulo_puedo_hacer {
    width: 100%;
    height: 80px;
  }
  .titulo_puedo_hacer p{
    font-family: "font_sans";
    font-size: 70px;
    text-decoration: none;
    color: #FBCE00;
    transition: 0.5s;
  }
  #contenedor_servi {
    margin-top: 50px;
    width: 85%;
    height: auto;
  }
  .servi {
    width: 42%;
    height: 420px;
    margin: 3%;
    float: left;
    display: block;
  }
    .titulo_servi {
      width: 100%;
      height: 140px;
    }
    .titulo_servi2 {
      width: 100%;
      height: 80px;

    }
      .titulo_servi a, .titulo_servi2 a {
        color: #190022;
        font-family: "font_sans";
        font-size: 50px;text-align-last: inherit;
        text-decoration: none;
      }
          .titulo_servi a:hover, .titulo_servi2 a:hover {
            color: #FD0C5D;
            transition: 0.5s;
          }
    .contenido_servi p{
      color: #000;
      font-family: "font_roboto";
      font-size: 20px;
      line-height: 24pt;
      text-decoration: none;
    }















/*---------FOOTER--------*/
  footer {
    margin-top: 200px;
    width: 100%;
    height: 400px;
    background-color: #190022;
  }
  #contenedor_footer {
    width: 85%;
    height: 390px;
  }
  .icon_footer {
    width: 100%;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
    .icon_footer img {
      width: 180px;
      height: auto;
    }
  .contenido_footer {
    width: 70%;
    height: 250px;
    display: flex;
  }
  .servicios_footer, .contacto_footer, .redes_footer {
    width: auto;
    height: 200px;
    padding: 20px;
    margin-left: 30px;
    float: left;
  }
    .servicios_footer p, .contacto_footer p, .redes_footer p {
      color: #fff;
      font-family: "font_roboto";
      font-size: 12px;
      line-height : 20px;
    }
    .servicios_footer a, .contacto_footer a, .redes_footer a {
      text-decoration: none;
    }
    .contacto_footer p {
      margin-left: 30px;
      padding-top: 2px;
    }
    .servicios_footer h2, .contacto_footer h2, .redes_footer h2 {
      color: #fff;
      font-family: "font_roboto_bold";
      font-size: 17px;
      margin-bottom: 10px;
    }


  .mail_contacto_footer, .number_contacto_footer {
    width: auto;
    height: 25px;
    margin-bottom: 20px;
  }
  .icon_mail_contacto_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/mail.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .icon_number_contacto_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/wht.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .be_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/be.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  .face_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/face.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  .gih_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/gih.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  .insta_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/insta.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }

  .condiciones_footer {
    width: 100%;
    height: 15px;
  }
    .condiciones_footer p {
      color: #d5d5d5;
      font-family: sans-serif;
      font-size: 11px;
      text-align: center;
    }












/*-----------*/
}
