/* fuentes personalizadas*/
  @font-face {
    font-family: "font_sans";
    src: url("../../font/sans.ttf");
  }
  @font-face {
      font-family: "font_roboto";
      src: url("../../font/roboto.ttf");
  }
  @font-face {
      font-family: "font_roboto_bold";
      src: url("../../font/roboto_bold.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 1024px) and (max-width: 1400px) {
* {margin: auto; padding: 0;}
  input, label {
    display: none;
  }
body {
  background: #090921;
}
body:after{
  display:none; content: url('../../img/portafolio/garabato.png');
}

/*---BARRA DE NAVEGACION--*/
#barra_navegacion {
  width: 100%;
  height: 70px;
  padding-left: 10%;
  padding-right: 12%;
  background-color: #090921;
  position: fixed;
  box-shadow: 2px 2px 5px #090921;
}
   .barra_navegacion {
    width: 85%;
    height: 70px;
  }
  .icon_nav {
    width: 150px;
    height: 60px;
    margin-left: 5%;
    margin-top: 10px;
    float: left;
  }
  .icon_nav img {
    height: 40px;
    margin: 10px;
  }
  .respmenu {
    float: right;
    width: 400px;
    height: 30px;
    margin-right: 20%;
    margin-top: 25px;
  }

  nav ul li{
    margin-right: 30px;
    padding-bottom: 8px;
    display: inline-block;
  }
      nav ul li:hover {
        background: url('../../img/header/nav/barra_nav.png') no-repeat;
        background-position: bottom;
        background-size: 100% 4px;
        transition: 0.7s;
      }
  nav ul li a {
    color: #fff;
    font-family: "font_sans";
    font-size: 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    transition: color 0.7s;
  }
      nav ul li a:hover {
        transition-duration: 0.7s;
        transition: color 0.7s;
      }
/*----------------------*/
/*----------TRABAJOS---------*/
#trabajos {
  width: 100%;
  height: auto;
  padding-top: 80px;
}
.trabajos {
  width: 80%;
  height: auto;
}
.titulo_trabajos {
  width: 100%;
  height: 90px;
  margin-top: 30px;
  margin-bottom: 30px;
}
  .titulo_trabajos h1 {
    font-family: "font_sans";
    font-size: 4rem;
    color: #F23041;
  }

  #caja_trabajo {
    width: 250px;
    height: 300px;
    padding: 5px;
    margin: 3px;
    display: inline-flex;
    background-color: #1B0126;
  }
      #caja_trabajo a {
        text-decoration: none;
      }

    #img_hover_trabajo:hover {
      background-position: center;
      background-size: 100% 100%;
      transition: 0.7s;
    }

    #img_hover_trabajo {
      width: 240px;
      height: 240px;
      background-color: #1B0126;
      background-position: center;
      background-size: 110% 110%;
      transition: 0.7s;

    }
    .titulo_caja_trabajo {
      padding-left: 5px;
      margin-bottom: 5px;
      margin-top: 5px;
      font-family: "font_sans";
      font-size: 0.8rem;
      color: #56BFAC;
    }
    .descripcion_caja_trabajo {
      font-family: "font_roboto";
      font-size: 0.6rem;
      color: #FFF;
      padding-left: 5px;
    }

.img_caja_garabato {
  background: url('../../img/portafolio/garabato.png') no-repeat;
}
    .img_caja_garabato:hover {
      background: url('../../img/portafolio/garabato2.png') no-repeat;
    }

.img_caja_filbo {
  background: url('../../img/portafolio/filbo.png') no-repeat;
}
    .img_caja_filbo:hover {
      background: url('../../img/portafolio/filbo2.png') no-repeat;
    }

.img_caja_mano {
  background: url('../../img/portafolio/mano.png') no-repeat;
}
    .img_caja_mano:hover {
      background: url('../../img/portafolio/mano2.png') no-repeat;
    }
.img_caja_comic {
  background: url('../../img/portafolio/comic.png') no-repeat;
}
    .img_caja_comic:hover {
      background: url('../../img/portafolio/comic2.png') no-repeat;
    }

.img_caja_mano {
  background: url('../../img/portafolio/mano.png') no-repeat;
}
    .img_caja_mano:hover {
      background: url('../../img/portafolio/mano2.png') no-repeat;
    }

.img_caja_lata {
  background: url('../../img/portafolio/lata.png') no-repeat;
}
    .img_caja_lata:hover {
      background: url('../../img/portafolio/lata2.png') no-repeat;
    }

.img_caja_brutal {
  background: url('../../img/portafolio/brutal.png') no-repeat;
}
    .img_caja_brutal:hover {
      background: url('../../img/portafolio/brutal2.png') no-repeat;
    }

.img_caja_wild {
  background: url('../../img/portafolio/wild.png') no-repeat;
}
    .img_caja_wild:hover {
      background: url('../../img/portafolio/wild2.png') no-repeat;
    }


/*-------PROYECTOS--------*/
#proyectos {
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 90px;
  background-color: #1B0126;
}
.proyectos {
  width: 80%;
  height: auto;
}
  .titulo_proyectos {
    width: 100%;
    height: 80px;
    margin-bottom: 90px;
  }
    .titulo_proyectos h1 {
      font-family: "font_sans";
      font-size: 4rem;
      color: #F23041;
    }
  .contenedor_proyecto {
    width: 100%;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
    .titulo_proyecto {
      width: 100%;
      height: 60px;
      margin-bottom: 20px;
    }
      .titulo_proyecto h2 {
        font-family: "font_sans";
        font-size: 3rem;
        color: #56BFAC;
      }
    .texto_proyecto {
      padding-right: 20%;
      width: auto;
      height: auto;
    }
      .texto_proyecto p {
        font-family: "font_roboto";
        font-size: 1rem;
        color: #FFF;
        line-height: 1.5rem;
      }

/*----------FOOTER---------*/

#footer {
  width: 100%;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #090921;
}
.footer {
  width: 80%;
  height: 300px;
}
.icon_footer {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
}
    .icon_footer img {
      width: auto;
      height: 50px;
    }
.columnas_footer {
  width: auto;
  height: 250px;
  padding-right: 50px;
  float: right;
  display: inline-flex;
}
  .columnas_footer a {
    text-decoration: none;
  }
.columna {
  width: 200px;
  height: auto;
  margin: 15px;
  padding: 15px;
}
  .columna h1 {
    font-family: "font_roboto_bold";
    font-size: 1rem;
    color: #fff;
    display: block;
    margin-bottom: 15px;
  }
  .columna p {
    font-family: "font_roboto";
    font-size: 0.8rem;
    color: #fff;
    line-height: 1rem;
    display: block;
    padding-top: 4px;
  }

  .contendor_fila {
    width: auto;
    height: 25px;
    padding-left: 35px;
    margin: 5px;
  }

  .contendor_fila div {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: -40px;
    background-position: center;
    background-size: 100% 100%;
  }
    .contendor_fila div:hover{
      background-color: #F23041;
      border-radius: 100%;
    }
  .icon_contacto_em {
    background: url('../../img/footer/mail.png') no-repeat;
  }
  .icon_contacto_wha {
    background: url('../../img/footer/wha.png') no-repeat;
  }
  .icon_contacto_ins {
    background: url('../../img/footer/ins.png') no-repeat;
  }
  .icon_contacto_be {
    background: url('../../img/footer/be.png') no-repeat;
  }
  .icon_contacto_fa {
    background: url('../../img/footer/face.png') no-repeat;
  }
  .icon_contacto_gi {
    background: url('../../img/footer/gi.png') no-repeat;
  }
/*----------------------*/
}
