/* fuentes personalizadas*/
  @font-face {
    font-family: "font_sans";
    src: url("../../font/sans.ttf");
  }
  @font-face {
      font-family: "font_roboto";
      src: url("../../font/roboto.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 1024px) and (max-width: 1400px) {
* {margin: 0; padding: 0;}
  input, label {
    display: none;
  }

/*---BARRA DE NAVEGACION--*/

  #barra_navegacion {
    width: 100%;
    height: 70px;
    background-color: #190022;
    position: fixed;
    box-shadow: 2px 2px 5px #190022;
  }
  .icon_nav {
    float: left;
    margin-left: 15%;
    width: 150px;
    height: 40px;
    margin-top: 12px;
  }
  .icon_nav img {
    height: 40px;
  }
  .respmenu {
    float: right;
    display: inline-block;
    margin-right: 15%;
  }
  nav ul li .linea {
    margin-top: 5px;
    margin: auto;
    display: block;
    width: 75%;
    height: 15px;
  }
  nav ul li{
    margin-top: 25px;
    margin-right: 30px;
    padding-bottom: 8px;
    display: inline-block;
  }
      nav ul li:hover {
        background: url('../../img/nav/barra_nav.png') no-repeat;
        background-position: bottom;
        background-size: 100% 5px;
        transition: 0.7s;
      }
  nav ul li a {
    color: #fff;
    font-family: "font_sans";
    font-size: 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    transition: color 0.7s;
  }
      nav ul li a:hover {
        transition-duration: 0.7s;
        transition: color 0.7s;
      }
/*---------------MAIN--------------*/
* {
  margin: auto;
  padding: auto;
  transition: 0.3s;
}














/*---------FOOTER--------*/
  footer {
    margin-top: 00px;
    width: 100%;
    height: 360px;
    background-color: #190022;
  }
  #contenedor_footer {
    width: 100%;
    height: 50px;
  }
  #contenedor_footer2 {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    display: flex;
  }

  .icons_footer {
    width: 35%;
    height: 45px;
    display: flex;
  }
      .icons_footer img {
        width: 40px;
        height: auto;
      }
  .logo_footer {
    width: 100px;
    height: 120px;
  }
      .logo_footer img {
        width: 100px;
        height: auto;
      }
  .texto_footer {
    width: 40%;
    height: auto;
  }
      .texto_footer p {
        text-align: center;
        font-family: "font_roboto";
        font-size: 16px;
        color: #BFBFBF;
      }
  .mapa_footer {
    width: 100px;
    height: 120px;
  }
    .mapa_footer img {
      width: 120px;
      height: auto;
    }
  .condiciones_footer {
    width: 100%;
    height: 20px;
    margin-top: 80px;
  }
    .condiciones_footer p {
      text-align: center;
      font-family: sans-serif;
      font-size: 11px;
      color: #BFBFBF;
    }












/*-----------*/
}
