/* fuentes personalizadas*/
  @font-face {
    font-family: "font_sans";
    src: url("../../font/sans.ttf");
  }
  @font-face {
      font-family: "font_roboto";
      src: url("../../font/roboto.ttf");
  }
  @font-face {
      font-family: "font_roboto_bold";
      src: url("../../font/roboto_bold.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 1024px) and (max-width: 1400px) {
* {margin: 0; padding: 0;}
  input, label {
    display: none;
  }

/*---BARRA DE NAVEGACION--*/

  #barra_navegacion {
    width: 100%;
    height: 70px;
    background-color: #190022;
    position: fixed;
    box-shadow: 2px 2px 5px #190022;
  }
  .icon_nav {
    float: left;
    margin-left: 15%;
    width: 150px;
    height: 40px;
    margin-top: 12px;
  }
  .icon_nav img {
    height: 40px;
  }
  .respmenu {
    float: right;
    display: inline-block;
    margin-right: 15%;
  }
  nav ul li .linea {
    margin-top: 5px;
    margin: auto;
    display: block;
    width: 75%;
    height: 15px;
  }
  nav ul li{
    margin-top: 25px;
    margin-right: 30px;
    padding-bottom: 8px;
    display: inline-block;
  }
      nav ul li:hover {
        background: url('../../img/nav/barra_nav.png') no-repeat;
        background-position: bottom;
        background-size: 100% 5px;
        transition: 0.7s;
      }
  nav ul li a {
    color: #fff;
    font-family: "font_sans";
    font-size: 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    transition: color 0.7s;
  }
      nav ul li a:hover {
        transition-duration: 0.7s;
        transition: color 0.7s;
      }
/*---------------MAIN--------------*/
* {
  margin: auto;
  padding: auto;
  transition: 0.3s;
}
/*-----------------------------*/
/*------PORTAFOLIO----------*/
  #portafolio {
    width: 100%;
    height: 2000px;
    padding-top: 120px;
    background-color: #190022;
  }
  #contenedor_portafolio {
    width: 85%;
    height: 1000px;
  }
  #contenedor_proyecto {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    float: left;
    background-color: #0D0D0D;
  }
  #contenedor_proyecto a {
    text-decoration: none;
  }
  .titulo_proyecto, .description_proyecto {
    width: 90%;
    height: 20px;
    margin: 0px;
    padding-top: 5px;
  }
      .titulo_proyecto h1 {
        color: #FBCE00;
        font-family: "font_sans";
        font-size: 15px;
      }
      .description_proyecto p {
        color: #fff;
        font-family: "font_roboto";
        font-size: 12px;
      }



.brutal_img {
  width: 300px;
  height: 300px;
  background: url('../../img/portafolio/brutal.png') no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: 0.7s;
}
  #img_proyecto:hover {
    width: 300px;
    height: 300px;
    background: url('../../img/portafolio/hover.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 100%;
    transition: 0.7s;
  }














/*---------FOOTER--------*/
  footer {
    width: 100%;
    height: 400px;
    background-color: #190022;
  }
  #contenedor_footer {
    width: 85%;
    height: 390px;
  }
  .icon_footer {
    width: 100%;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
    .icon_footer img {
      width: 180px;
      height: auto;
    }
  .contenido_footer {
    width: 70%;
    height: 250px;
    display: flex;
  }
  .servicios_footer, .contacto_footer, .redes_footer {
    width: auto;
    height: 200px;
    padding: 20px;
    margin-left: 30px;
    float: left;
  }
    .servicios_footer p, .contacto_footer p, .redes_footer p {
      color: #fff;
      font-family: "font_roboto";
      font-size: 12px;
      line-height : 20px;
    }
    .servicios_footer a, .contacto_footer a, .redes_footer a {
      text-decoration: none;
    }
    .contacto_footer p {
      margin-left: 30px;
      padding-top: 2px;
    }
    .servicios_footer h2, .contacto_footer h2, .redes_footer h2 {
      color: #fff;
      font-family: "font_roboto_bold";
      font-size: 17px;
      margin-bottom: 10px;
    }


  .mail_contacto_footer, .number_contacto_footer {
    width: auto;
    height: 25px;
    margin-bottom: 20px;
  }
  .icon_mail_contacto_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/mail.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .icon_number_contacto_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/wht.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .be_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/be.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  .face_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/face.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  .gih_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/gih.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  .insta_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/insta.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }

  .condiciones_footer {
    width: 100%;
    height: 15px;
  }
    .condiciones_footer p {
      color: #d5d5d5;
      font-family: sans-serif;
      font-size: 11px;
      text-align: center;
    }












/*-----------*/
}
