/* fuentes personalizadas*/
  @font-face {
    font-family: "font_sans";
    src: url("../../font/sans.ttf");
  }
  @font-face {
      font-family: "font_roboto";
      src: url("../../font/roboto.ttf");
  }
  @font-face {
      font-family: "font_roboto_bold";
      src: url("../../font/roboto_bold.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 1024px) and (max-width: 1400px) {
* {margin: 0; padding: 0;}
  input, label {
    display: none;
  }

/*---BARRA DE NAVEGACION--*/

  #barra_navegacion {
    width: 100%;
    height: 70px;
    background-color: #190022;
    position: fixed;
    box-shadow: 2px 2px 5px #190022;
  }
  .icon_nav {
    float: left;
    margin-left: 15%;
    width: 150px;
    height: 40px;
    margin-top: 12px;
  }
  .icon_nav img {
    height: 40px;
  }
  .respmenu {
    float: right;
    display: inline-block;
    margin-right: 15%;
  }
  nav ul li .linea {
    margin-top: 5px;
    margin: auto;
    display: block;
    width: 75%;
    height: 15px;
  }
  nav ul li{
    margin-top: 25px;
    margin-right: 30px;
    padding-bottom: 8px;
    display: inline-block;
  }
      nav ul li:hover {
        background: url('../../img/nav/barra_nav.png') no-repeat;
        background-position: bottom;
        background-size: 100% 5px;
        transition: 0.7s;
      }
  nav ul li a {
    color: #fff;
    font-family: "font_sans";
    font-size: 16px;
    text-decoration: none;
  }
  nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    transition: color 0.7s;
  }
      nav ul li a:hover {
        transition-duration: 0.7s;
        transition: color 0.7s;
      }
/*---------------MAIN--------------*/
* {
  margin: auto;
  padding: auto;
  transition: 0.3s;
}
/*----SERVICIOS------*/
  #servicios {
    width: 100%;
    height: 2400px;
    background-color: #190022;
    padding-top: 120px;
  }
  #contenedor_servicios {
    width: 85%;
    height: 2000px;
  }
  .titulo_servicios {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
  }
    .titulo_servicios p{
      font-family: "font_sans";
      font-size: 70px;
      text-decoration: none;
      color: #FBCE00;
      transition: 0.5s;
    }

  #box_servicios {
    width: 90%;
    height: 300px;
    margin-bottom: 160px;
  }
    .titulo_box_servicios {
      width: 100%;
      height: 60px;
      float: left;
      padding-bottom: 20px;
    }
        .titulo_box_servicios p {
          font-family: "font_sans";
          font-size: 50px;
          text-decoration: none;
          color: #fff;
          transition: 0.5s;
        }
    .contenido_box_servicios {
      width: 50%;
      height: 180px;
      float: left;
      margin: 0px;
    }
        .contenido_box_servicios p {
          color: #AAAAAA;
          font-family: "font_roboto";
          font-size: 15px;
          line-height : 20px;
        }
    .lateral_box_servicios {
      width: 40%;
      height: auto;
      padding-left: 40px;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-top: -7%;
      margin-right: 4%;
      float: right;
      background: url('../../img/main/servicios/lateral_box.png') no-repeat;
      background-position: left;
      background-size: 100% 100%;
    }
        .lateral_box_servicios p {
          color: #fff;
          font-family: "font_roboto_bold";
          font-size: 18px;
          line-height : 30px;
        }
/*---------------------------------*/
.diagonal_servicios {
  margin-top: -5px;
  width: 100%;
  height: 200px;
  background: url('../../img/main/servicios/diagonal.png') no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
/*---------------------------------*/

/*-----PROYECTOS--------*/
  #proyectos {
    width: 100%;
    height: 1300px;
    padding-top: 50px;
    background-color: #FD0C5D;
  }
  #contenedor_proyectos {
    width: 85%;
    height: 1000px;
  }

  .titulo_proyectos {
    width: 100%;
    height: 60px;
    margin-bottom: 100px;
  }
      .titulo_proyectos h1 {
        font-family: "font_sans";
        font-size: 70px;
        text-decoration: none;
        color: #FBCE00;
        transition: 0.5s;
      }
  .contenedor_proyecto {
    width: 60%;
    height: auto;
    padding: 40px;
    margin: 40px;
  }
    .contenedor_proyecto h2 {
      font-family: "font_sans";
      font-size: 40px;
      text-decoration: none;
      color: #190022;
      margin-bottom: 30px;
      transition: 0.5s;
    }
    .contenedor_proyecto p {
      font-family: "font_roboto";
      font-size: 20px;
      text-decoration: none;
      color: #190022;
      transition: 0.5s;
    }






/*---------FOOTER--------*/
  footer {
    width: 100%;
    height: 400px;
    background-color: #190022;
  }
  #contenedor_footer {
    width: 85%;
    height: 390px;
  }
  .icon_footer {
    width: 100%;
    height: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
    .icon_footer img {
      width: 180px;
      height: auto;
    }
  .contenido_footer {
    width: 70%;
    height: 250px;
    display: flex;
  }
  .servicios_footer, .contacto_footer, .redes_footer {
    width: auto;
    height: 200px;
    padding: 20px;
    margin-left: 30px;
    float: left;
  }
    .servicios_footer p, .contacto_footer p, .redes_footer p {
      color: #fff;
      font-family: "font_roboto";
      font-size: 12px;
      line-height : 20px;
    }
    .servicios_footer a, .contacto_footer a, .redes_footer a {
      text-decoration: none;
    }
    .contacto_footer p {
      margin-left: 30px;
      padding-top: 2px;
    }
    .servicios_footer h2, .contacto_footer h2, .redes_footer h2 {
      color: #fff;
      font-family: "font_roboto_bold";
      font-size: 17px;
      margin-bottom: 10px;
    }


  .mail_contacto_footer, .number_contacto_footer {
    width: auto;
    height: 25px;
    margin-bottom: 20px;
  }
  .icon_mail_contacto_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/mail.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .icon_number_contacto_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/wht.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .be_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/be.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  .face_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/face.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  .gih_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/gih.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }
  .insta_icon_redes_footer {
    width: 25px;
    height: 25px;
    float: left;
    background: url('../../img/footer/insta.png') no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 8px;
    margin-bottom: 10px;
  }

  .condiciones_footer {
    width: 100%;
    height: 15px;
  }
    .condiciones_footer p {
      color: #d5d5d5;
      font-family: sans-serif;
      font-size: 11px;
      text-align: center;
    }


/*-----------*/
}
