/* fuentes personalizadas*/
  @font-face {
    font-family: "font_sans";
    src: url("../../font/sans.ttf");
  }
  @font-face {
      font-family: "font_roboto";
      src: url("../../font/roboto.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 515px) and (max-width: 768px) {

  /*-------BARRA DE NAVEGACION-------*/

	#barra_navegacion {
	  background-color: #190022;
	  width: 100%;
	  height: 80px;
	  position: fixed;
	  box-shadow: 2px 2px 5px #190022;
	}
	.icon_nav {
	  float: right;
    width: 60px;
    height: 60px;
	  position: absolute;
    top: 10px;
    right: 10px;
    background: url('../../img/nav/icon_nav2.png') no-repeat;
    background-position: center;
    background-size: auto 50px;
	}
	.icon_nav img {
	  float: left;
	  margin-top: 25px;
	  width: 150px;
	  height: auto;
	 }
   .icon_nav img {
     display: none;
   }
	label img {
	  width: 40px;
	  height: auto;
    margin-top: 20px;
	  margin-left: 20px;
	}
	.respmenu {
	  float: left;
	  width: 90%;
	}
	.respmenu a {
	  color: #fff;
	  text-decoration: none;
	  display: block;
	  padding: 30px 40px;
	  max-width: 200px;
	  font-family: "font_sans";
	}
	.respmenu a:hover {
	  color: #190022;
	}
	.respmenu {
	  transition: checked 3.0s;
	}
	.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
	  position: absolute;
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
	  right: 0;
	  top: 0;
	  width: 48px;
	  height: 48px;
	}
	.respmenu .fa-bars, .respmenu .fa-times {
	  font-size: 48px;
	  pointer-events: none;
	}
	.respmenu input[type="checkbox"] {
	  opacity: 0;
	}
	.respmenu {
	  color: #00181C;
	  position: relative;
	  min-height: 50px;
	}
	nav ul {
	  background-color: #190022;
	  box-shadow: 2px 2px 5px #190022;
	}
	nav ul li:hover {
	  background-color: #FBCE00;
	}
	nav ul li:hover {
	  transition: color 1.8s;
	}
	.respmenu nav {
	  display: none;
	}
	.respmenu input:checked ~ nav {
	  display: block;
	}
	.respmenu input:checked ~ .fa-bars {
	  display: none;
	}
	.respmenu input:not(:checked) ~ .fa-times {
	  display: none;
	}



/*-------------------------------------*/





}
