/* fuentes personalizadas*/
  @font-face {
    font-family: "font_sans";
    src: url("../../font/sans.ttf");
  }
  @font-face {
      font-family: "font_roboto";
      src: url("../../font/roboto.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 320px) and (max-width: 410px) {
* {
	margin: auto;
	padding: 0;
  transition: 0.7s;
}
body {
  background-color: #090921;
}

/*-------BARRA DE NAVEGACION-------*/

	#barra_navegacion {
	  background-color: #090921;
	  width: 100%;
	  height: 80px;
	  position: fixed;
	}
	.icon_nav {
	  float: left;
    width: 60px;
    height: 50px;;
	  position: absolute;
    margin-left: 20px;
	}
	.icon_nav img {
	  width: 150px;
	  height: auto;
	 }
   label {
     display: block;
     margin-top: 15px;
     margin-left: 80%;
    }
	label img {
	  width: 50px;
	  height: auto;
	}
	.respmenu {
	  width: 100%;
	}
	.respmenu a {
	  color: #fff;
	  text-decoration: none;
    text-align: right;
	  display: block;
	  padding: 30px 40px;
	  max-width: 200px;
	  font-family: "font_sans";
	}
	.respmenu a:hover {
	  color: #190022;
	}
	.respmenu {
	  transition: checked 3.0s;
	}
	.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
	  position: absolute;
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
	  right: 0;
	  top: 0;
	  width: 48px;
	  height: 48px;
	}
	.respmenu .fa-bars, .respmenu .fa-times {
	  font-size: 48px;
	  pointer-events: none;
	}
	.respmenu input[type="checkbox"] {
	  opacity: 0;
	}
	.respmenu {
	  color: #00181C;
	  position: relative;
	  min-height: 50px;
	}
	nav ul {
	  background-color: #090921;
	}
	nav ul li:hover {
	  background-color: #F23041;
	}
	nav ul li:hover {
	  transition: color 1.8s;
	}
	.respmenu nav {
	  display: none;
	}
	.respmenu input:checked ~ nav {
	  display: block;
	}
	.respmenu input:checked ~ .fa-bars {
	  display: none;
	}
	.respmenu input:not(:checked) ~ .fa-times {
	  display: none;
	}

/*-------------------------------------*/
  #head_main {
    width: 100%;
    height: 500px;
    padding-top: 80px;
    margin-bottom: 80px;
  }
    .head_main {
      width: 90%;
      height: 550px;
      background-color: blue;
    }
      .freelance_head_main {
        width: 180px;
        height: 100px;
        float: left;
        padding: 20px;
      }
        .freelance_head_main h1{
          font-family: "font_sans";
          font-size: 2.5rem;
          color: #F23041;
        }
      .alejo_head_main {
        width: 180px;
        height: 100px;
        float: left;
        padding: 20px;
      }
        .alejo_head_main h2 {
          font-family: "font_sans";
          font-size: 2rem;
          color: #FFFF;
        }
      .dino_head_main {
        width: 280px;
        height: 300px;
        background-color: grey;
        margin-top: -300px;
        margin-right: -0px;
        background: url('../../img/main/head_main/dino_main.png') no-repeat ;
        background-size: auto 100%;
        margin-bottom: 20px;
      }

#color2 {
  width: 100%;
  background-color: #1B0126;
}
#quien_soy {
  width: 100%;
  height: 535px;
  padding-top: 20px;
  padding-bottom: 20px;
}
  .quien_soy {
    width: 90%;
    height: 530px;
  }
    .titulo_quien_soy {
      width: 100%;
      height: 50px;
      margin-bottom: 20px;
    }
      .titulo_quien_soy h1 {
        font-family: "font_sans";
        font-size: 2rem;
        color: #F23041;
      }

  .texto_quien_soy {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
  }
    .texto_quien_soy p {
      font-family: "font_roboto";
      font-size: 0.9rem;
      color: #FFF;
      line-height: 1.3rem;
    }
  .subtitulo_quien_soy {
    width: 90%;
    height: 80px;
  }
    .subtitulo_quien_soy h2 {
      font-family: "font_sans";
      font-size: 1.4rem;
      color: #56BFAC;
    }
  .img_quien_soy {
    width: 150px;
    height: auto;
    background-color: #F23041;
    border-radius: 100%;
  }
    .img_quien_soy img{
      width: 150px;
      height: auto;
    }
  .icons_quien_soy {
    width: 80%;
    height: 45px;
    margin: 20px;
    display: flex;
  }
    .icons_quien_soy img {
      width: 30px;
      margin: 10px;
    }



img {
  width: 50px;
}

}
/*----------FOOTER---------------*/
#footer {
  width: 100%;
  height: 280px;
  padding-top: 100px;
  background-color: #090921;
}
  .footer {
    width: 90%;
    height: auto;
  }
    .icon_footer {
      width: 100%;
      height: 50px;
    }
      .icon_footer img {
        width: 110px;
        height: auto;
      }
  .columna h1 {
    display: none;
  }
  .text_servicios p{
    display: none;
  }

  .columnas_footer {
    width: 100%;
    height: auto;
    display: flex;
  }
  .columna {
    width: 45%;
    height: 300px;
    margin-top: 20px;
    margin-right: 50px;
  }
  .contendor_fila {
    width: 90px;
    height: 35px;
    margin-top: 10px;
  }

  a {
    text-decoration: none;
  }
  .contendor_fila p {
    display: block;
    padding-top: 3px;
    font-family: "font_roboto" ;
    font-size: 1rem;
    color: #FFF;
  }

  .contendor_fila div {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: -30px;
    background-position: center;
    background-size: 100% 100%;
  }
    .contendor_fila div:hover{
      background-color: #F23041;
      border-radius: 100%;
    }
  .icon_contacto_em {
    background: url('../../img/footer/mail.png') no-repeat;
  }
  .icon_contacto_wha {
    background: url('../../img/footer/wha.png') no-repeat;
  }
  .icon_contacto_ins {
    background: url('../../img/footer/ins.png') no-repeat;
  }
  .icon_contacto_be {
    background: url('../../img/footer/be.png') no-repeat;
  }
  .icon_contacto_fa {
    background: url('../../img/footer/face.png') no-repeat;
  }
  .icon_contacto_gi {
    background: url('../../img/footer/gi.png') no-repeat;
  }









/*-------------------------------------*/
}
